body {
	padding: 0;
	margin: 0;
	background-color: #fff;
}

.FontColorError {
	color: #ff5d5d;
}

.FontColorSuccess {
	color: #00b856;
}

.FontColorNormal {
	color: #666;
}

.FontColorInfo {
	color: #c1c1c1;
}

.FontColorOther {
	color: #02A7F0;
}

.FontColorWarn {
	color: #fa9a23;
}

.bwhite {
	background-color: #fff;
}

.mr5 {
	margin-right: 5px;
}

.mt20 {
	margin-top: 20px;
}

.mb20 {
	margin-bottom: 20px;
}

.ml20 {
	margin-left: 20px;
}

.mr20 {
	margin-right: 20px;
}

.mt10 {
	margin-top: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.ml10 {
	margin-left: 10px;
}

.mr10 {
	margin-right: 10px;
}

.pt20 {
	padding-top: 20px;
}

.pb20 {
	padding-bottom: 20px;
}

.pl20 {
	padding-left: 20px;
}

.pr20 {
	padding-right: 20px;
}

.pt15 {
	padding-top: 15px;
}

.pb15 {
	padding-bottom: 15px;
}

.pl15 {
	padding-left: 15px;
}

.pr15 {
	padding-right: 15px;
}

.fb {
	font-weight: bold;
}

.fz10 {
	font-size: 10px;
}

.fz11 {
	font-size: 11px;
}

.fz12 {
	font-size: 12px;
}

.fz13 {
	font-size: 13px;
}

.fz14 {
	font-size: 14px;
}

.fz15 {
	font-size: 15px;
}

.fz16 {
	font-size: 16px;
}

.df {
	display: flex;
}

.dfc {
	display: flex;
	align-items: center;
}

.jfc {
	justify-content: center;
}

.jfsa {
	justify-content: space-around;
}

.jfsb {
	justify-content: space-between;
}

.aic {
	align-items: center;
}

.flex1 {
	flex: 1;
}

.wd120 {
	width: 120px;
}

.wd160 {
	width: 160px;
}

.wd200 {
	width: 200px;
}

.OPoint {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
